<div class="row">
  <div class="col-md-6 text-center">
    <h3>LOGIN</h3>

    <form class="form login-form mt-3">
      <div class="form-group">
        <label for="username-login"></label>
        <input
          class="form-input text-center"
          type="text"
          id="username-login"
          placeholder="username"
        />
      </div>
      <div class="form-group">
        <label for="password-login"></label>
        <input
          class="form-input text-center"
          type="password"
          id="password-login"
          placeholder="password"
        />
      </div>
      <div class="form-group">
        <button class="btn px-5 btn-info mt-3" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 text-center">

    <h3>CREATE AN ACCOUNT</h3>

    <form class="form signup-form mt-3">
      <div class="form-group">
        <label for="username-signup"></label>
        <input
          class="form-input text-center"
          type="text"
          id="username-signup"
          placeholder="enter a username"
        />
      </div>
      <div class="form-group">
        <label for="password-signup"></label>
        <input
          class="form-input text-center"
          type="password"
          id="password-signup"
          placeholder="enter a password"
        />
      </div>
      <div class="form-group">
        <button class="btn px-5 btn-info mt-3" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>